/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
	width:100%;
	#page {
		width: 100%;
		max-width: 100%;
		margin:0 auto;
	}
	header.site-header {
		top:0;
		left:0;
		border-bottom:1px solid #ccc;
		padding:0 5px;
	}
	h1 {
		margin:0;
	}
	h1 img {
		width: 200px;
	}
	section.hero {

	}
	section.about {
		
	}
	section.portfolio {
		
	}

}
