/* ==========================================================================
   Social Icons
   ========================================================================== */
   ul.social-header {
   	float:right;
   	padding:0 20px 0 0;
   	margin:0;
	   	li {
	   		display: inline-block;
	   		list-style: none;
	   	}
	   	a{
	   		padding:0 4px;
	   		font-size:1.4em;
	   	}
	   	li.facebook {
	   		background-image: url('/');
	   	}
	   	li.twitter {
	   		background-image: url('/');
	   	}
	   	li.googleplus {
	   		background-image: url('/');
	   	}
	   	li.tumblr {
	   		background-image: url('/');
	   	}
	   	li.digg {
	   		background-image: url('/');
	   	}
	   	li.rss {
	   		background-image: url('/');
	   	}
    }
